/*
For: msbgeorgetown.campusgroups.com
Version: v1.0.0 (2023-09-27)
Source: https://github.com/isaacchua/cgfix
*/

th {
    text-align: center;
}

.ts-stack a,
.cgLead a {
    color: #2173d0 !important;
    text-decoration: underline !important;
}

.ts-stack a:hover,
.cgLead a:hover {
    color: #809aae !important;
}

.ts-stack .lead,
.cgLead,
.cgLead>p,
.cgLead>ul,
.lead {
    color: #484848 !important;
}

@media (max-width: 767px) {
    .main-container {
        margin-top: 0px !important;
    }
}
