/*
For: msbgeorgetown.campusgroups.com
Version: v1.1.0 (2023-12-18)
Source: https://github.com/isaacchua/cgfix
*/

th {
    text-align: center;
}

.ts-stack a,
.cgLead a,
.ts-stack ul li > a,
.cgLead ul li > a {
    color: #2173d0;
    text-decoration: underline;
}

.ts-stack a:hover,
.cgLead a:hover,
.ts-stack ul li > a:hover,
.cgLead ul li > a:hover {
    color: #809aae;
}

a.icon {
    text-decoration: none;
}

.ts-stack .lead,
.cgLead,
.cgLead>p,
.cgLead>ul,
.lead {
    color: #484848 !important;
}

.section-cont__content-officers .h5,
.section-cont__content-officers--small .h5,
.section-cont__content-officers--medium .h5,
.section-cont__content-officers--large .h5 {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .main-container {
        margin-top: 0px !important;
    }
}
